<footer id="contact">
<div class="container footer-main">
<div>
<!-- <h3>About</h3> -->
<h3 style="color:red;">About Us</h3>
<p>www.fcity.online<br>
"Digital Services & Solutions"<br>
💻 CMS/Front-End/Back-End<br>
🕸️ Development<br>
🙋‍♂️ IT Consulting<br>
🕷️ Networking</p>
</div>

<div>
<!-- <h3>Quick Links</h3> -->
<h3 style="color:red;">Quick Links</h3>
<a href="https://www.fcity.online/#services">Services</a>
<a href="#why">Why Us</a>
<a href="https://www.fcity.online/#contact">Contact</a>
</div>

<div>
<h3 style="color:red;">Follow Us</h3>
<div class="social-iconss">
<a href="https://www.instagram.com/fcityonline/" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
     <img src="/fcityonline-website/imgs/instagram_logo.png" alt="Gmail" width="40" height="40" style="vertical-align: middle;">

</a>

  
  <a href="https://www.facebook.com/profile.php?id=61582040558289" aria-label="Facebook" title="Contact us">
      <img src="/fcityonline-website/imgs/facebook_logo.png" alt="Gmail" width="40" height="40" style="vertical-align: middle;">
    </a>

        <a href="mailto:contact.fcity.online@gmail.com" aria-label="Gmail" title="Email us">
      <img src="/fcityonline-website/imgs/wtsap.svg" alt="Gmail" width="40" height="40" style="vertical-align: middle;">
    </a>
    
    
    <a href="mailto:contact.fcity.online@gmail.com" aria-label="Gmail" title="Email us">
      <img src="/fcityonline-website/imgs/gmail_.png" alt="Gmail" width="40" height="40" style="vertical-align: middle;">
    </a>
</div>
</div>



</div>

<div class="footer-bottom">
&copy; 2026 Fcity Online. All rights reserved.
</div>
</footer>
