<header>
    <div class="container nav-container">
        
        <a href="/" class="logo">
            <img loading="lazy" src="/imgs/fcityonline-logo.jpg" alt="Fcity Logo">
            <span>fcityonline</span>
        </a>
        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#services">Services</a></li>
                <li><a href="/#why">Why Us</a></li>
                <li><a href="/#contact">Contact</a></li>
                <li><a href="tel:+919999353283" class="call-us">Call Us</a></li>
            </ul>
        </nav>
        
        <button class="menu-toggle" id="mobile-menu" aria-label="Toggle menu">
            <i class="fas fa-bars"></i>
        </button>
        
        <button class="dark-toggle" id="darkToggle" title="Toggle dark mode">
            <i class="fas fa-moon"></i>
        </button>
        
    </div>
</header>


